.logo {
  margin-left: 25px;
}

.sitelayoutsubheaderbackground {
  background: #fff;
}

.sitelayoutbackground {
  background: #fff;
}

.sitelayoutsidebar {
  background: #001c72;
  color: rgba(255, 255, 255, 0.65);
}
.sitelayoutsub {
  background: #001c72;
}
.anttimelineitemcontentorg {
  background: #ffe9bdd8;
  height: 50px;
  padding: 4px;
  position: relative;
  top: -7.001px;
  margin: 0 0 0 26px;
  word-break: break-word;
  left: calc(50% - 4px);
  width: calc(50% - 14px);
  text-align: left;
  border-left: 8px solid #f5b22d;
}

.anttimelineitemcontentblue {
  background: #bddcffd8;
  height: 50px;
  padding: 4px;
  position: relative;
  top: -7.001px;
  margin: 0 0 0 26px;
  word-break: break-word;
  left: calc(50% - 4px);
  width: calc(50% - 14px);
  text-align: left;
  border-left: 8px solid #4399fad8;
}
